<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 每隔1秒刷新一次页面 -->
    <!--    <meta http-equiv="refresh" content="1"> -->
    <title> 首页 </title>
</head>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>

<link rel="stylesheet" th:href="@{/css/lo.css}">
<link rel="stylesheet" th:href="@{/css/index.css}">

<body>
<script>
    var url = window.location.href;
    setInterval(function () {
        $("#refresh").load(location.href + " #refresh >*", "");
    }, 1500);
</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/index}">首页 <span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/charts}">图形数据</a></li>
                <li><a th:href="@{/tables}">数据表单</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">网络适配器<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Sensors/a">Wlan 2</a></li>
                        <li><a href="/Sensors/e">Ethernet 3</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">注销</a></li>
                <li><a th:href="@{/findAll}">管理员表</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--报警器-->
<div class="container">
    <div class="container-fluid  liver">

        <div class="row" id="refresh">
            <div class="col-sm-6 col-sm-4 ">
                <div id="line_1_1">
                    <!--part1标记需要定数刷新的部分-->
                    <ul>
                        <li class="text-left">
                            #网络适配器数量:
                            <span th:text="${sensornum}">
									</span>
                        </li>
                        <dl>
                            <dt class="text-left">
                                告警种类:
                                <span th:text="${event_type}"></span>
                            </dt>
                            <dt class="text-left">
                                告警总数:
                                <span th:text="${eventnum}"></span>
                            </dt>
                            <dd>源IP地址总数:
                                <span th:text="${ipsrc}"></span>
                            </dd>
                            <dd>
                                目的IP地址总数:
                                <span th:text="${ipdst}"></span>
                                <span th:text="${a}"></span>
                            </dd>
                        </dl>
                    </ul>
                </div>
            </div>

            <!-- 进度条——————————————————————————————————————————————————————————————————————————————————————————————————— -->
            <div class="col-sm-12 col-sm-8 progressBar">
                <div id="line_1_1">
                    所有ip数据的协议占比
                    <table class="table table-bordered">
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active "
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                 th:style="'width:'+${tcp_percentage}+'%'">
                                <p style="float: left;color: black;">
                                    TCP(<span th:text="${tcp_percentage}"></span>%)
                                </p>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active "
                                 role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                 th:style="'width:'+${udp_percentage}+'%'">
                                <p style="float: left;color: black;">
                                    UDP(<span th:text="${udp_percentage}"></span>%)
                                </p>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active"
                                 role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                 th:style="'width:'+${icmp_percentage}+'%'">
                                <p style="float: left;color: #000000;">
                                    ICMP(<span th:text="${icmp_percentage}"></span>%)
                                </p>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>

        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row tr">
            <div class="col-sm-6 col-sm-4 flel">
                <div id="line_2">
                    <div id="table1" style="height: 100%;"></div>
                </div>
                <p class="bg-primary">近3天告警的数量</p>
            </div>
            <div class="col-sm-6 col-sm-4 flel">
                <div id="line_2">
                    <div id="table2" style="height: 100%"></div>
                </div>
                <p class="bg-danger">目前威胁等级</p>
            </div>
            <div class="col-sm-6 col-sm-4 flel" id="">
                <div id="line_2">
                    <div id="table3" style="height: 100%"></div>
                </div>
                <p class="bg-primary">告警事件前3的主机地址</p>
            </div>
        </div>
        <!-- 流式栅栏尾 -->
    </div>
</div>
<!--
            底部固定————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————

-->
<!--警告-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <p> 若发生错误请及时联系<a>管理员</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版本1.01</p>
</nav>


<script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/echarts.min.js}"></script>

<!--表一数据-->

<input type="hidden" th:value="${count1}" id="count1"/>
<input type="hidden" th:value="${count2}" id="count2"/>
<input type="hidden" th:value="${count3}" id="count3"/>
<!--表二数据-->
<input type="hidden" th:value="${eventfor24}" id="eventfor24"/>
<!--表三数据-->
<input type="hidden" th:value="${ip1}" id="ip1"/>
<input type="hidden" th:value="${ip2}" id="ip2"/>
<input type="hidden" th:value="${ip3}" id="ip3"/>
<input type="hidden" th:value="${num1}" id="num1"/>
<input type="hidden" th:value="${num2}" id="num2"/>
<input type="hidden" th:value="${num3}" id="num3"/>

<script type="text/javascript">

</script>
<!-- 表———————————————————————————————————————————————————————————————————————————— -->
<script type="text/javascript">
    // 表一————————————————————————————————————————————————————————————————————————————————————————————————————————
    var charts = []; //定义一个全局变量
    var dom = document.getElementById("table1");
    var myChart = echarts.init(dom);
    var app = {};
    var option;
    var c1 = $("#count1").val();
    var c2 = $("#count2").val();
    var c3 = $("#count3").val();
    option = {
        tooltip: {
            trigger: 'item',
            axisPointer: {
                type: 'cross'
            }
        },
        xAxis: {
            type: 'category',
            data: ['today', '-1day', '-2day'],
        },
        yAxis: {
            type: 'value',
        },
        series: [{
            data: [c1, c2, c3],
            type: 'line',
            smooth: true
        }]
    };

    if (option && typeof option === 'object') {
        myChart.setOption(option);
    }
    setInterval(function () {

        for (var i = 0; i < 5; i++) {
            data.shift();
            data.push(randomData());
        }

        myChart.setOption({
            series: [{
                data: data
            }]
        });
    }, 1000);

    if (option && typeof option === 'object') {
        myChart.setOption(option);
    }
    charts.push(myChart); //存入数组


    //// 表二————————————————————————————————————————————————————————————————————————————————————————————————————————
    var dom = document.getElementById("table2");
    var myChart = echarts.init(dom);
    var app = {};
    var option;
    var e24 = $("#eventfor24").val();
    if (e24*1000 >= 1000) {
        alert("当前风险程度高，请及时查看")
    }

    option = {
        series: [{
            type: 'gauge',
            startAngle: 180,
            endAngle: 0,
            min: 0,
            max: 1,
            splitNumber: 8,
            axisLine: {
                lineStyle: {
                    width: 6,
                    color: [
                        [0.25, '#7CFFB2'],
                        [0.5, '#58D9F9'],
                        [0.75, '#FDDD60'],
                        [1, '#FF6E76']
                    ]
                }
            },
            pointer: {
                icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                length: '90%',
                width: 5,
                offsetCenter: [0, '20%'],
                itemStyle: {
                    color: 'auto'
                }
            },
            axisTick: {
                length: 12,
                lineStyle: {
                    color: 'auto',
                    width: 2
                }
            },
            splitLine: {
                length: 20,
                lineStyle: {
                    color: 'auto',
                    width: 5
                }
            },
            axisLabel: {
                color: '#464646',
                fontSize: 15,
                distance: -55,
                formatter: function (value) {
                    if (value === 0.875) {
                        return 'ultra';
                    } else if (value === 0.625) {
                        return 'high';
                    } else if (value === 0.375) {
                        return 'mid';
                    } else if (value === 0.125) {
                        return 'low';
                    }
                }
            },
            title: {
                offsetCenter: [0, '40%'],
                fontSize: 15
            },
            detail: {
                fontSize: 15,
                offsetCenter: [0, '60%'],
                valueAnimation: true,
                formatter: function (value) {
                    return Math.round(value * 1000) + 'Alerts';
                },
                color: 'auto'
            },
            data: [{
                value: e24,
                name: 'Risk assessment for 24h'
            }]
        }]
    };

    if (option && typeof option === 'object') {
        myChart.setOption(option);
    }
    charts.push(myChart); //存入数组
    //// 表三————————————————————————————————————————————————————————————————————————————————————————————————————————

    var dom = document.getElementById("table3");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    var c1 = $("#ip1").val();
    var c2 = $("#ip2").val();
    var c3 = $("#ip3").val();
    var n1 = $("#num1").val();
    var n2 = $("#num2").val();
    var n3 = $("#num3").val();

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['Events']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            realtimeSort: true,
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: [c1, c2, c3],
            inverse: true,
            animationDuration: 300,
            animationDurationUpdate: 300
        },
        series: [
            {
                name: 'Events',
                type: 'bar',
                data: [n1, n2, n3]
            }],
        legend: {
            show: true
        },
        animationDuration: 0,
        animationDurationUpdate: 3000,
        animationEasing: 'linear',
        animationEasingUpdate: 'linear'
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
    charts.push(myChart); //存入数组
    //刷新数据
    function refreshData(data) {
        if (!myChart) {
            return;
        }

        //更新数据
        var option = myChart.getOption();
        option.series[0].data = data;
        myChart.setOption(option);
    }

    //在所有图表之后
    window.onresize = function () {
        for (var i = 0; i < charts.length; i++) {
            charts[i].resize();
        }
    };
</script>
</body>

</html>
